.content-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    width: 100%;
    padding: 50px;

    
    @media (max-width: 425px) {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
        

       .galeri {
        padding: 20px;
        display: flex;
        height: 100% !important;
        width: 100%;
        flex-wrap: wrap;

        img { 
            order: 1;
            flex: 1;
            width: 100%;
        }  
        
    .galeri-txt {
        order: 2;
        flex: 1;
          
        a {
            padding: 0;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }
        }
       }
      }
   
    .galeri {
        display: flex;
        align-items: center;
        height: 20vh;
        padding: 20px;
        border:  5px solid rgb(177, 203, 204) ;
        background-color: rgb(177, 203, 204) ;
        border-radius: 8px;
        transition: .5s;
        cursor: pointer;
    }

    .galeri:hover {
        transform: scale(1.1);
        transition: .5s;
     }
}